form {
    max-width: 1180px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 100px;
    gap: 2rem;
    margin-top: -3rem;
    background: white;
    padding: 1rem;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input label {
    font-weight: bold;
}

input {
    height: 1rem;
    padding: 1rem;
    border: 1px solid #c2c2c2;
    outline: none;
}



button[type="submit"] {
    background: rebeccapurple;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    filter: brightness(0.8);
}