* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f1f1f1;
  overflow-x: hidden;
}

#toast {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem 2rem;
  transform: translateX(200%);
  transition: all 0.4s ease-in-out;
  margin: 1rem;
  border-radius: 5px;
  background: #25155c;
  color: white;
}

#toast.active {
  transform: translateX(0%);
}

header {
  height: 50vh;
  background: #37208b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  user-select: none;
}

header h1 {
  font-size: 64px;
  font-style: italic;
}

main {
  max-width: 1180px;
  margin: 0 auto;
  padding: 1rem;
}

#cards div {
  background-color: #ccc;
  padding: 1.5rem;
  margin: 1rem 2rem;
  border-radius: .5rem;
  box-shadow: 0 8px 8px -4px;
}

a:visited{
  text-decoration: none;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

#icon{
  width: 25px;
}

#api-button{
  padding-left: 20px;
}