#task-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 1rem;
}

.task .content {
  display: flex;
  align-items: center;
  gap: 1rem;
}